.todo-page-container {
    padding: 30px;
}

.todo-list-container {
    margin:20px;
    margin-bottom: 50px;
}

.todo-button {
    padding: 10px;
}

.todo-titles {
    padding: 5px;
    background-color: rgb(224, 238, 253);
    border-radius: 15px;
    border-style: inset;
	border-width: 4px;
	border-color:rgb(10, 51, 95);
}

.todo {
    margin:5px;
    margin-top:20px;

}